body{
    background-color: rgb(255, 255, 255);
    font-family: BBH Sans Hegarty;
}
header{
    font-size : 50px;
    text-align : center;
    background-color :black;
    color :rgb(255, 0, 0);
    border: botton;
}
dop1{
    text-align: center;
}